<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  

<form id="create_note" action="/" method="post">
  <label>Note</label>
  <input name="content" type="text">
  <input type="submit" value="Create Note!">
</form>

<br>
<br>

<% @notes.each do |note| %>
<label>Note</label>
<%= note.id %>
<%= note.content %>
<%= note.created_at %>
<%= note.updated_at %>

<form id="show_note" action="/<%=note.id%>" method="get">
  <!-- <label>Note</label> -->
  <!-- <input name="content" type="text"> -->
  <input type="submit" value="Show Note!">  
</form>

<form id="edit" action="/<%=note.id%>/edit" method="get">
  <!-- <label>Note</label> -->
  <!-- <input name="content" type="text"> -->
  <input type="submit" value="Edit Note!">
</form>

<br>
<br>
<% end %> 

</div>